<%= form_with(model: shipping) do |form| %>
  <% if shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipping.errors.count, "error") %> prohibited this shipping from being saved:</h2>
      <ul>
        <% shipping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg">
          <!-- Default Card Example -->
          <div class="card mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Customs</h6>
            </div>
            <div class="card-body">
              <%= render 'shippings/form/customs', form: form %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg">
          <!-- Default Card Example -->
          <div class="card mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Parcel</h6>
            </div>
            <div class="card-body">
              <%= render 'shippings/form/parcel', form: form %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Default Card Example -->
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Order</h6>
        </div>
        <div class="card-body">
          <%= render 'shippings/form/order', form: form %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <!-- Default Card Example -->
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">To Address</h6>
        </div>
        <div class="card-body">
          <%= form.fields_for :to_address do |to_address_form| %>
            <%= render 'shippings/form/address', address_form: to_address_form %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Default Card Example -->
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">From Address</h6>
        </div>
        <div class="card-body">
          <%= form.fields_for :from_address do |from_address_form| %>
            <%= render 'shippings/form/address', address_form: from_address_form %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
