<%= form_with(model: shipping) do |form| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg">
          <!-- Default Card Example -->
          <div class="card mb-4 border-primary">
            <div class="card-header py-3 bg-primary">
              <h6 class="m-0 font-weight-bold text-white">Customs</h6>
            </div>
            <div class="card-body">
              <%= render 'shippings/form/customs', form: form, object:shipping.custom %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg">
          <!-- Default Card Example -->
          <div class="card mb-4" class="border-warning">
            <div class="card-header py-3 bg-warning">
              <h6 class="m-0 font-weight-bold text-white">Parcel</h6>
            </div>
            <div class="card-body">
              <%= render 'shippings/form/parcel', form: form, object:shipping.parcel %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Default Card Example -->
      <div class="card mb-4" class="border-success">
        <div class="card-header py-3 bg-success">
          <h6 class="m-0 font-weight-bold text-white">Order</h6>
        </div>
        <div class="card-body">
          <%= render 'shippings/form/order', form: form, object:shipping.order %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <!-- Default Card Example -->
      <div class="card mb-4" class="border-danger">
        <div class="card-header py-3 bg-danger">
          <h6 class="m-0 font-weight-bold text-white">To Address</h6>
        </div>
        <div class="card-body">
          <%= render 'shippings/form/to_address', form: form, object:shipping.to_address %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Default Card Example -->
      <div class="card mb-4" class="border-info">
        <div class="card-header py-3 bg-info">
          <h6 class="m-0 font-weight-bold text-white">From Address</h6>
        </div>
        <div class="card-body">
          <%= render 'shippings/form/from_address', form: form, object:shipping.from_address %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
