<%= form_with(model: store) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control", placeholder:'Name'  %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :logo %>
      <%= form.text_field :logo, class:"form-control", placeholder:'Logo' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :lockable %>
      <%= form.check_box :lockable %>
    </div>
    <div class="form-group col-md-6">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  </div>

<% end %>