<div class="form-row">
  <div class="form-group col-md-6">
    <%= @store.name %>

  </div>
  <div class="form-group col-md-6">
    <%= @store.logo %>

  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= @store.lockable %>
  </div>
</div>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
