<div class="form-row">
  <%= render 'shippings/form/text_field', sym_name: :owner_name, form: form, errors: object.errors[:owner_name], placeholder: 'Owner Name' %>
  <%= render 'shippings/form/text_field', sym_name: :ssn, form: form, errors: object.errors[:owner_name], placeholder: 'SSN' %>
</div>
<div class="form-row">
  <%= render 'shippings/form/text_field', sym_name: :phone1, form: form, errors: object.errors[:phone1], placeholder: 'Phone 1' %>
  <%= render 'shippings/form/text_field', sym_name: :phone2, form: form, errors: object.errors[:phone2], placeholder: 'Phone 2' %>
</div>
<div class="form-row">
  <%= render 'shippings/form/text_field', sym_name: :address1, form: form, errors: object.errors[:address1], placeholder: 'Address 1' %>
  <%= render 'shippings/form/text_field', sym_name: :address2, form: form, errors: object.errors[:address2], placeholder: 'Address 2' %>
</div>
<div class="form-row">
  <%= render 'shippings/form/text_field', sym_name: :zipcode, form: form, errors: object.errors[:zipcode], placeholder: 'zipcode' %>
</div>