<div class="form-row">
  <div class="form-group col-md-6">
    <%= address_form.label :owner_name %>
    <%= address_form.text_field :owner_name, class:"form-control", placeholder:'owner name'  %>
  </div>
  <div class="form-group col-md-6">
    <%= address_form.label :ssn %>
    <%= address_form.text_field :ssn, class:"form-control", placeholder:'ssn'  %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= address_form.label :phone1 %>
    <%= address_form.text_field :phone1, class:"form-control", placeholder:'phone1'  %>
  </div>
  <div class="form-group col-md-6">
    <%= address_form.label :phone2 %>
    <%= address_form.text_field :phone2, class:"form-control", placeholder:'phone2'  %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= address_form.label :address1 %>
    <%= address_form.text_field :address1, class:"form-control", placeholder:'address1'  %>
  </div>
  <div class="form-group col-md-6">
    <%= address_form.label :address2 %>
    <%= address_form.text_field :address2, class:"form-control", placeholder:'address2'  %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= address_form.label :zipcode %>
    <%= address_form.text_field :zipcode, class:"form-control", placeholder:'zipcode'  %>
  </div>
</div>