<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= home_index_path %>">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Heading -->
  <div class="sidebar-heading">
    Admin
  </div>
  <!-- Nav Item - Charts -->
  <li class="nav-item <%= 'active' if controller.controller_name == StoresController.controller_name %>">
    <a class="nav-link" href="<%= stores_path %>">
      <i class="fas fa-fw fa-store"></i>
      <span>Store</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Shipping
  </div>
  <!-- Nav Item - Charts -->
  <li class="nav-item <%= 'active' if controller.controller_name == ShippingsController.controller_name and (controller.action_name == 'new' or controller.action_name == 'edit') %>">
    <a class="nav-link" href="<%= new_shipping_path %>">
      <i class="fas fa-fw fa-dolly"></i>
      <span>Form</span></a>
  </li>
  <li class="nav-item <%= 'active' if controller.controller_name == ShippingsController.controller_name and (controller.action_name == 'index') %>">
    <a class="nav-link" href="<%= shippings_path %>">
      <i class="fas fa-fw fa-shipping-fast"></i>
      <span>List</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <!-- Sidebar Message -->
  <div class="sidebar-card d-none d-lg-flex">
    <img class="sidebar-card-illustration mb-2" src="<%= asset_pack_path 'media/img/undraw_rocket.svg' %>" alt="...">
    <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
    <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
  </div>

</ul>
<!-- End of Sidebar -->